<header id="head" class="secondary"></header>
<table class="table">
  <tbody>
  <tr routerLinkActive="active">
    <td><button  class="btn btn-default"><a routerLink="/freelancers">List Of Freelancers</a></button></td>
    <td><button  class="btn btn-default"><a routerLink="/clients">List Of Clients</a></button></td>
    <td><button  class="btn btn-default"><a routerLink="/admins">List of Admins</a></button></td>
    <td><button  class="btn btn-default"><a routerLink="/signup-admin">Add Admin</a></button></td>
  </tr>
  </tbody>
  </table>
  <ol class="breadcrumb" routerLinkActive="active">
    <li><a routerLink="/home">Home</a></li>
    <li class="active">List Of Admins</li>
  </ol>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Delete</th>
    <th>Update</th>
  </tr>

  </thead>
  <tbody>
  <tr *ngFor="let admin of admins">
    <td>{{admin.id}}</td>
    <td>{{admin.firstName}}</td>
    <td>{{admin.lastName}}</td>
    <td>{{admin.email}}</td>
    <td><button (click)="deleteAdmin(admin)" class="btn btn-danger">Delete</button></td>
    <td><button (click)="updateAdmin(admin)" class="btn btn-warning">Update</button></td>
  </tr>
  </tbody>


</table>
