<header id="head" class="secondary"></header>

<div class="col-sm-8 offset-sm-2">
  <table class="table  table-borderless table-hover table-active">
    <tbody>
    <tr>
      <td class="text-center "> <h1>Important Statistics</h1> </td>
    </tr>
    </tbody>
  </table>
</div>

<div class=" col-sm-6 ">
  <div class="card border-dark">
    <div class="card-body text-center">
      <h1 >Number Of Freelancers  </h1>
      <h2  ><span class="cases">{{statistics.freelancersNumber}}</span>  </h2>

    </div>
  </div>
</div>
<div class="col-sm-6 text-center ">
  <div class="card border-secondary">
    <div class="card-body">
      <h1>Number Of Clients </h1>
      <h2><span class="deaths"> {{statistics.clientsNumber}} </span> </h2>

    </div>
  </div>
</div>



<div class=" col-sm-6 mt-3">
  <div class="card border-danger">
    <div class="card-body text-center">
      <h1 ><span class="active_cases"> Number Of Missions </span></h1>
      <h2><span class="active">{{statistics.totalMissionsNumber}}</span>  </h2>

    </div>
  </div>
</div>
<div class="col-sm-6 mt-3">
  <div class="card border-success ">
    <div class="card-body text-center">
      <h1><span class="total_recoverd">Number Of Completed Missions</span>  </h1>
      <h2><span class="recovered"> {{statistics.completedMissionsNumber}}</span> </h2>

    </div>
  </div>


</div>
<div class=" col-sm-6 mt-3">
  <div class="card border-dark">
    <div class="card-body text-center">
      <h1 >Number Of Hired Missions (Not Completed Yet)  </h1>
      <h2  ><span class="cases">{{statistics.hiredMissionsNumber}}</span>  </h2>

    </div>
  </div>
</div>
<div class="col-sm-6 text-center mt-3">
  <div class="card border-secondary">
    <div class="card-body">
      <h1>Total Amount Of Transactions </h1>
      <h2><span class="deaths"> {{statistics.totalTransactionNumber}}$ </span> </h2>

    </div>
  </div>
</div>



<div class=" col-sm-6 mt-3">
  <div class="card border-danger">
    <div class="card-body text-center">
      <h1 ><span class="active_cases"> Number of Clients Nationalities </span></h1>
      <h2><span class="active">{{statistics.totalClientssNationalities}}</span>  </h2>

    </div>
  </div>
</div>
<div class="col-sm-6 mt-3">
  <div class="card border-success ">
    <div class="card-body text-center">
      <h1><span class="total_recoverd">Number Of Freelancers Nationalities</span>  </h1>
      <h2><span class="recovered"> {{statistics.totalFreelancersNationalities}}</span> </h2>

    </div>
  </div>


</div>

